:root {
    --background: #0063e5;
    --login: #0464e2;
    --facebook: #094b95;
    --google: #d1453b;
    --twitter: #62bce6;
}

body {
    background: var(--background);
}


.login-form {
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 10px;
    margin: 20% auto;
    overflow: hidden;
    display: flex;
}

.login-form .picture {
    background: red;
    width: 40%;
    background: url('./fondo.jpeg');
    background-size: cover;
    /* height: 400px; */
    /* float: left; */
}

.login-form .form {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* float: right; */
}


.login-form .form h3, .login-form .form h5{
    color: gray;
}

.login-form .form .input {
    width: 80%;
    border: 1px solid #cccccc;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 5px 0;
}

.login-form .form .input input{
    width: 100%;
    margin: 0 5px;
    border: 0;
}

.login-form .form .input .fa-envelope, 
.login-form .form .input .fa-key {
    color: var(--login);
}

.login-form .form .btnLogin {
    width: 83%;
    height: 35px;
    background-color: var(--login);
    color: white;
    border: 0;
    border-radius: 20px;
    margin: 5px 0;
}

.login-form .form .social {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.login-form .form .social .button {
    width: 26%;
    padding: 5px;
    font-size: 12px;
    border: 0;
}

.login-form .form .social .button-facebook {
    color: white;
    background-color: var(--facebook);
}

.login-form .form .social .button-google {
    color: white;
    background-color: var(--google);
}

.login-form .form .social .button-twitter {
    color: white;
    background-color: var(--twitter);
}
/*
l = left t = top r = right b = bottom

margin: 10px;      t-r-b-l
margin: 10px 10px; t-b l-r;
margin: 10px 20px 10px; t l-r b
margin: 10px 10px 10px 10px; t-r-b-l

padding: 10px;      t-r-b-l
padding: 10px 10px; t-b l-r;
padding: 10px 20px 10px; t l-r b
padding: 10px 10px 10px 10px; t-r-b-l

*/

/* .box {
    width: 200px;
    height: 200px;
    background: blue;
}

.box .box-inside {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 5px;
} */